/* Colors */
/* Breakpoints */
/* Fonts */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
  max-width: 1600px;
  position: relative;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  font: 600 1rem/1 "Nunito";
  padding: 2rem 0;
  position: relative;
  width: 95%;
}

@media (max-width: 48rem) {
  nav {
    height: 56px;
  }
}

nav .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding: 1rem 0 0;
  width: 100%;
}

@media (max-width: 48rem) {
  nav .overlay {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: #F4EEDA;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    font-size: .9rem;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    opacity: .9;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: .5s;
    transition: .5s;
    visibility: hidden;
    width: 0;
    z-index: 5;
  }
}

@media (max-width: 22.25rem) {
  nav .overlay {
    font-size: .8rem;
  }
}

nav li {
  margin: 0 1rem;
}

@media (max-width: 48rem) {
  nav li {
    margin: 0 1rem .5rem 0;
  }
}

nav a {
  color: #5A5A5A;
  cursor: pointer;
  font-size: 1.5em;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@media (max-width: 48rem) {
  nav a {
    color: #F47A5E;
    padding: 0;
  }
}

nav a:hover {
  color: #F47A5E;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@media (max-width: 48rem) {
  nav a:hover {
    -webkit-transition: none;
    transition: none;
  }
}

nav .closebtn {
  color: #F47A5E;
  display: none;
  font-size: 3rem;
  line-height: .6;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 5;
}

nav .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 48rem) {
  nav .icon {
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

nav .icon img {
  width: 60px;
}

@media (max-width: 48rem) {
  nav .icon img {
    margin: 1rem;
  }
}

nav .nav-active ::before {
  background: #F47A5E;
  border-radius: 50% 50% 0;
  content: '';
  display: block;
  height: 15px;
  left: -5px;
  position: absolute;
  top: 25px;
  width: 15px;
}

@media (max-width: 48rem) {
  nav .nav-active ::before {
    display: none;
  }
}

nav .nav-active:hover {
  color: #5A5A5A;
}

nav .nav-project {
  position: relative;
}

@media (max-width: 48rem) {
  nav .nav-project {
    margin: 6rem 1rem 0 0;
    text-align: right;
    z-index: 0;
  }
}

nav .nav-project:hover {
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@media (max-width: 48rem) {
  nav .nav-project:hover {
    -webkit-transition: none;
    transition: none;
  }
}

nav .nav-project:hover .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

nav .nav-project:hover .dropdown li {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .nav-project:hover .dropdown li:last-child {
  border: 0;
}

nav .nav-project:hover .dropdown li a {
  font-size: 1.2em;
}

@media (max-width: 48rem) {
  nav .nav-project:hover .dropdown li a {
    font-size: 1.5em;
  }
}

nav .dropdown {
  background-color: #F4EEDA;
  display: none;
  left: 1rem;
  padding: 1rem 0;
  position: absolute;
  top: 2rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  width: 270px;
}

@media (max-width: 48rem) {
  nav .dropdown {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    left: 0;
    margin: .5rem .7rem 0 0;
    opacity: 1;
    padding: 0;
    position: relative;
    top: 0;
    -webkit-transition: none;
    transition: none;
    width: auto;
    z-index: 0;
  }
}

@media (max-width: 48rem) {
  nav .dropdown ul,
  nav .dropdown li,
  nav .dropdown a {
    color: #5A5A5A;
    white-space: nowrap;
  }
}

nav .dropdown ul::before,
nav .dropdown li::before,
nav .dropdown a::before {
  display: none;
}

nav .dropdown::before {
  display: none;
}

nav .dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 48rem) {
  nav .dropdown li {
    margin: 0 0 .5rem;
  }
}

nav .nav-last {
  margin-right: 0;
}

@media (max-width: 48rem) {
  nav .nav-last {
    margin: 0 1rem 0 0;
  }
}

nav .nav-last a {
  padding-right: 0;
}

nav .mobile-only {
  display: none;
}

@media (max-width: 48rem) {
  nav .mobile-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 3rem;
  }
}

nav .mobile-only a {
  color: #F47A5E;
}

h1 {
  color: #F47A5E;
  display: inline-block;
  font: 700 1.875rem/1 "Nunito";
  margin: 2rem 1rem;
  position: relative;
  text-transform: capitalize;
}

@media (min-width: 48rem) {
  h1 {
    font-size: 3rem;
    margin: 2rem 5rem;
  }
}

@media (max-width: 22.25rem) {
  h1 {
    font-size: 1.65rem;
  }
}

h1::after {
  background: #F4EEDA;
  bottom: 0;
  content: '';
  display: inline-block;
  height: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 115%;
  z-index: -1;
}

footer {
  width: 95%;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer a {
  padding: 1rem;
}

footer a:last-child {
  padding-right: 0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem auto 3rem;
  width: 100%;
}

@media (min-width: 48rem) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact .table {
  margin: 3rem 0 0 auto;
  width: 80%;
}

@media (min-width: 48rem) {
  .contact .table {
    margin: 0;
    width: auto;
  }
}

.form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

@media (min-width: 48rem) {
  .form-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 0 0 4rem;
    width: 55%;
  }
}

@media (min-width: 48rem) {
  .form-wrap form {
    width: 85%;
  }
}

.form-wrap label {
  position: relative;
}

.form-wrap .name,
.form-wrap .email,
.form-wrap .message {
  border: 1px solid #F47A5E;
  color: #5A5A5A;
  font: 1rem/1 "PT Serif";
  margin: 0 auto 1rem;
  padding: 0.5rem;
  position: relative;
  width: 100%;
}

.form-wrap .name:focus,
.form-wrap .email:focus,
.form-wrap .message:focus {
  border: 1px solid #F47A5E;
}

.form-wrap .name.valid,
.form-wrap .email.valid,
.form-wrap .message.valid {
  background-color: transparent;
  border-color: #71d996;
}

@media (min-width: 64rem) {
  .form-wrap .name.valid,
  .form-wrap .email.valid,
  .form-wrap .message.valid {
    margin: 0 2rem 0 0;
  }
}

.form-wrap .name.valid + .error-msg,
.form-wrap .email.valid + .error-msg,
.form-wrap .message.valid + .error-msg {
  display: none;
}

.form-wrap .name.invalid,
.form-wrap .email.invalid,
.form-wrap .message.invalid {
  margin-bottom: 0;
  background-color: #fbd3ce;
}

.form-wrap .name.invalid + .error-msg,
.form-wrap .email.invalid + .error-msg,
.form-wrap .message.invalid + .error-msg {
  display: block;
}

@media (min-width: 64rem) {
  .form-wrap .name,
  .form-wrap .email,
  .form-wrap .message {
    margin: 0 2rem 0 0;
    width: calc(44% - 2rem);
  }
}

@media (min-width: 64rem) {
  .form-wrap .email {
    margin: 0;
    width: 55%;
  }
}

.form-wrap .email.valid {
  margin: 0;
}

@media (max-width: 64rem) {
  .form-wrap .email.valid {
    margin: 0 0 1rem;
  }
}

.form-wrap .message {
  height: 15rem;
}

@media (min-width: 48rem) {
  .form-wrap .message {
    margin: 0;
    height: 20rem;
    width: 99.5%;
  }
}

@media (min-width: 64rem) {
  .form-wrap .message {
    margin: 2rem 0 0;
  }
}

@media (min-width: 64rem) {
  .form-wrap .message.valid {
    margin: 2rem 0 0;
  }
}

.form-wrap .submit {
  background: #5A5A5A;
  border: 0;
  color: white;
  cursor: pointer;
  display: block;
  font: 1rem/1 "Nunito";
  margin: 0 0 0 auto;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (min-width: 48rem) {
  .form-wrap .submit {
    margin: 1rem 0.5% 0 auto;
  }
}

.form-wrap .error-msg {
  color: #e42b11;
  display: none;
  font: italic 400 85%/1 "PT Serif";
  margin: 0.5rem 0 1rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (min-width: 64rem) {
  .form-wrap .error-msg {
    position: absolute;
    top: 1.5rem;
    left: 0;
  }
}
/*# sourceMappingURL=contact.css.map */