/* Colors */
$cream: #F4EEDA;
$orange: #F47A5E;
$gray: #5A5A5A;

/* Breakpoints */
$xs-mobile: 22.25rem;
$s-mobile: 35rem;
$nav-mobile: 48rem;
$s-desktop: 64rem;
$carousel-replace: 70rem;
$m-desktop: 80rem;
$l-desktop: 100rem;

/* Fonts */
$font-serif: 'PT Serif';
$font-sans: 'Nunito';