/* Colors */
/* Breakpoints */
/* Fonts */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
  max-width: 1600px;
  position: relative;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  font: 600 1rem/1 "Nunito";
  padding: 2rem 0;
  position: relative;
  width: 95%;
}

@media (max-width: 48rem) {
  nav {
    height: 56px;
  }
}

nav .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding: 1rem 0 0;
  width: 100%;
}

@media (max-width: 48rem) {
  nav .overlay {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: #F4EEDA;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    font-size: .9rem;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    opacity: .9;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: .5s;
    transition: .5s;
    visibility: hidden;
    width: 0;
    z-index: 5;
  }
}

@media (max-width: 22.25rem) {
  nav .overlay {
    font-size: .8rem;
  }
}

nav li {
  margin: 0 1rem;
}

@media (max-width: 48rem) {
  nav li {
    margin: 0 1rem .5rem 0;
  }
}

nav a {
  color: #5A5A5A;
  cursor: pointer;
  font-size: 1.5em;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@media (max-width: 48rem) {
  nav a {
    color: #F47A5E;
    padding: 0;
  }
}

nav a:hover {
  color: #F47A5E;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@media (max-width: 48rem) {
  nav a:hover {
    -webkit-transition: none;
    transition: none;
  }
}

nav .closebtn {
  color: #F47A5E;
  display: none;
  font-size: 3rem;
  line-height: .6;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 5;
}

nav .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 48rem) {
  nav .icon {
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

nav .icon img {
  width: 60px;
}

@media (max-width: 48rem) {
  nav .icon img {
    margin: 1rem;
  }
}

nav .nav-active ::before {
  background: #F47A5E;
  border-radius: 50% 50% 0;
  content: '';
  display: block;
  height: 15px;
  left: -5px;
  position: absolute;
  top: 25px;
  width: 15px;
}

@media (max-width: 48rem) {
  nav .nav-active ::before {
    display: none;
  }
}

nav .nav-active:hover {
  color: #5A5A5A;
}

nav .nav-project {
  position: relative;
}

@media (max-width: 48rem) {
  nav .nav-project {
    margin: 6rem 1rem 0 0;
    text-align: right;
    z-index: 0;
  }
}

nav .nav-project:hover {
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@media (max-width: 48rem) {
  nav .nav-project:hover {
    -webkit-transition: none;
    transition: none;
  }
}

nav .nav-project:hover .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

nav .nav-project:hover .dropdown li {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .nav-project:hover .dropdown li:last-child {
  border: 0;
}

nav .nav-project:hover .dropdown li a {
  font-size: 1.2em;
}

@media (max-width: 48rem) {
  nav .nav-project:hover .dropdown li a {
    font-size: 1.5em;
  }
}

nav .dropdown {
  background-color: #F4EEDA;
  display: none;
  left: 1rem;
  padding: 1rem 0;
  position: absolute;
  top: 2rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  width: 270px;
}

@media (max-width: 48rem) {
  nav .dropdown {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    left: 0;
    margin: .5rem .7rem 0 0;
    opacity: 1;
    padding: 0;
    position: relative;
    top: 0;
    -webkit-transition: none;
    transition: none;
    width: auto;
    z-index: 0;
  }
}

@media (max-width: 48rem) {
  nav .dropdown ul,
  nav .dropdown li,
  nav .dropdown a {
    color: #5A5A5A;
    white-space: nowrap;
  }
}

nav .dropdown ul::before,
nav .dropdown li::before,
nav .dropdown a::before {
  display: none;
}

nav .dropdown::before {
  display: none;
}

nav .dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 48rem) {
  nav .dropdown li {
    margin: 0 0 .5rem;
  }
}

nav .nav-last {
  margin-right: 0;
}

@media (max-width: 48rem) {
  nav .nav-last {
    margin: 0 1rem 0 0;
  }
}

nav .nav-last a {
  padding-right: 0;
}

nav .mobile-only {
  display: none;
}

@media (max-width: 48rem) {
  nav .mobile-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 3rem;
  }
}

nav .mobile-only a {
  color: #F47A5E;
}

h1 {
  color: #F47A5E;
  display: inline-block;
  font: 700 1.875rem/1 "Nunito";
  margin: 2rem 1rem;
  position: relative;
  text-transform: capitalize;
}

@media (min-width: 48rem) {
  h1 {
    font-size: 3rem;
    margin: 2rem 5rem;
  }
}

@media (max-width: 22.25rem) {
  h1 {
    font-size: 1.65rem;
  }
}

h1::after {
  background: #F4EEDA;
  bottom: 0;
  content: '';
  display: inline-block;
  height: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 115%;
  z-index: -1;
}

footer {
  width: 95%;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer a {
  padding: 1rem;
}

footer a:last-child {
  padding-right: 0;
}

/* Project names/descriptions */
.homepage-projects {
  overflow-x: hidden;
}

.homepage-projects,
.project-wrap {
  position: relative;
}

.homepage-projects .copy,
.project-wrap .copy {
  bottom: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 30%;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 150%;
}

@media (max-width: 64rem) {
  .homepage-projects .copy,
  .project-wrap .copy {
    right: 31%;
  }
}

.homepage-projects h2,
.homepage-projects h3,
.project-wrap h2,
.project-wrap h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: nowrap;
}

.homepage-projects h2,
.project-wrap h2 {
  color: #F47A5E;
  font: 700 1.4rem/1 "Nunito";
}

@media (max-width: 64rem) {
  .homepage-projects h2,
  .project-wrap h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 48rem) {
  .homepage-projects h2,
  .project-wrap h2 {
    font-size: 1rem;
  }
}

.homepage-projects h3,
.project-wrap h3 {
  color: #5A5A5A;
  font: italic 1.1rem/1 "PT Serif";
}

@media (max-width: 64rem) {
  .homepage-projects h3,
  .project-wrap h3 {
    font-size: 1rem;
  }
}

@media (max-width: 48rem) {
  .homepage-projects h3,
  .project-wrap h3 {
    font-size: 0.9rem;
  }
}

.homepage-projects .border,
.project-wrap .border {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #F47A5E;
  border-radius: 1px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.6rem 1rem 0;
  width: 100%;
}

@media (max-width: 48rem) {
  .homepage-projects .border,
  .project-wrap .border {
    border-bottom-width: 2px;
    margin-top: 0.4rem;
  }
}

.homepage-projects .image,
.project-wrap .image {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.homepage-projects .image:hover,
.project-wrap .image:hover {
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.homepage-projects .image a,
.project-wrap .image a {
  display: block;
}

.homepage-projects .to-be-cont,
.project-wrap .to-be-cont {
  opacity: 0;
  font: 3rem/1 "Nunito";
  max-width: 500px;
  position: absolute;
  right: -70%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

@media (max-width: 48rem) {
  .homepage-projects .to-be-cont,
  .project-wrap .to-be-cont {
    display: none;
  }
}

.homepage-projects .to-be-cont.is-visible,
.project-wrap .to-be-cont.is-visible {
  opacity: 1;
  right: 5%;
}

.homepage-projects .to-be-cont img,
.project-wrap .to-be-cont img {
  width: auto;
  margin: 0 0 0 auto;
}

/* Slider */
.owl-theme {
  overflow: hidden;
}

.owl-theme .owl-stage-outer {
  margin: 0 0 0 -32.5%;
  padding: 0 0 1.5rem;
}

@media (max-width: 64rem) {
  .owl-theme .owl-stage-outer {
    margin: 0 0 0 -32%;
  }
}

@media (max-width: 48rem) {
  .owl-theme .owl-stage-outer {
    margin: 0 0 0 -11.5rem;
  }
}

@media (max-width: 35rem) {
  .owl-theme .owl-stage-outer {
    margin: 0 0 0 -1rem;
  }
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin: 0 0 0 3.7rem;
  text-align: left;
}

@media (max-width: 64rem) {
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin: 0 0 0 4.5rem;
  }
}

@media (max-width: 48rem) {
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin: 0 0 0 2.5rem;
  }
}

.owl-theme .owl-dots .owl-dot {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #F47A5E;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: #F47A5E;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.owl-theme .owl-dots .owl-dot span {
  background: none;
  border: 1px solid #F47A5E;
  color: transparent;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: #F47A5E;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
/*# sourceMappingURL=homepage.css.map */