@import "main.scss";

/* Project names/descriptions */
.homepage-projects {
  overflow-x: hidden;
}

.homepage-projects,
.project-wrap {
  position: relative;

  .copy {
    bottom: 47%;
    display: flex;
    right: 30%;
    position: absolute;
    transform: rotate(-90deg);
    width: 150%;

    @media (max-width: $s-desktop) {
      right: 31%;
    }
  }

  h2,
  h3 {
    display: flex;
    flex-grow: 1;
    white-space: nowrap;
  }

  h2 {
    color: $orange;
    font: 700 1.4rem/1 $font-sans;

    @media (max-width: $s-desktop) {
      font-size: 1.3rem;
    }

    @media (max-width: $nav-mobile) {
      font-size: 1rem;
    }
  }

  h3 {
    color: $gray;
    font: italic 1.1rem/1 $font-serif;

    @media (max-width: $s-desktop) {
      font-size: 1rem;
    }

    @media (max-width: $nav-mobile) {
      font-size: 0.9rem;
    }
  }

  .border {
    align-items: center;
    border-bottom: 3px solid $orange;
    border-radius: 1px;
    display: inline-flex;
    flex: 1 1 auto;
    height: 100%;
    justify-content: center;
    margin: 0.6rem 1rem 0;
    width: 100%;

    @media (max-width: $nav-mobile) {
      border-bottom-width: 2px;
      margin-top: 0.4rem;
    }
  }

  .image {
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 10px 10px 15px rgba(black, 0.25);
      transition: 0.2s ease-in-out;
    }

    a {
      display: block;
    }
  }

  .to-be-cont {
    opacity: 0;
    font: 3rem/1 $font-sans;
    max-width: 500px;
    position: absolute;
    right: -70%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .5s ease-in;

    @media (max-width: $nav-mobile) {
      display: none;
    }

    &.is-visible {
      opacity: 1;
      right: 5%;
    }

    img {
      width: auto;
      margin: 0 0 0 auto;
    }
  }
}

/* Slider */
.owl-theme {
  overflow: hidden;

  .owl-stage-outer {
    margin: 0 0 0 -32.5%;
    padding: 0 0 1.5rem;

    @media (max-width: $s-desktop) {
      margin: 0 0 0 -32%;
    }

    @media (max-width: $nav-mobile) {
      margin: 0 0 0 -11.5rem;
    }

    @media (max-width: $s-mobile) {
      margin: 0 0 0 -1rem;
    }
  }

  .owl-nav {
    &.disabled+.owl-dots {
      margin: 0 0 0 3.7rem;
      text-align: left;

      @media (max-width: $s-desktop) {
        margin: 0 0 0 4.5rem;
      }

      @media (max-width: $nav-mobile) {
        margin: 0 0 0 2.5rem;
      }
    }
  }

  .owl-dots {
    .owl-dot {
      transition: 0.2s ease-in-out;

      &.active {
        span {
          background: $orange;
        }
      }

      &:hover {
        span {
          background: $orange;
          transition: 0.2s ease-in-out;
        }
      }

      span {
        background: none;
        border: 1px solid $orange;
        color: transparent;
        transition: 0.2s ease-in-out;

        &:hover {
          background: $orange;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}